
# Using the CPE Reference implementation

The following dependency can be added to your POM to use this library.

```xml
<dependency>
  <groupId>${project.groupId}</groupId>
  <artifactId>${project.artifactId}</artifactId>
  <version>${project.version}</version>
</dependency>
```

The following source packages are included in this release:

- [gov.nist.secauto.cpe.common](apidocs/gov/nist/secauto/cpe/common/package-summary.html): contains functions common to both the naming and matching packages

   This package contains the following class:

   - [gov.nist.secauto.cpe.common.WellFormedName](apidocs/gov/nist/secauto/cpe/common/WellFormedName.html): provides methods to construct an unbound CPE name

- `gov.nist.secauto.cpe.naming`: contains classes related to the CPE naming algorithms

   This package contains the following classes:

   - `gov.nist.secauto.cpe.naming.CPENameBinder`: provides methods to bind a WellFormedName to the CPE URI and formatted string forms
   - `gov.nist.secauto.cpe.naming.CPENameUnbinder`: provides methods to unbind a CPE URI or formatted string into a WellFormedName

- `gov.nist.secauto.cpe.matching`: contains classes related to the CPE matching algorithm

   This package contains the following class:

   - `gov.nist.secauto.cpe.matching.CPENameMatcher`: provides methods to test a match between two different CPE names
